.grid-pane {
    -fx-grid-lines-visible: false;
    -fx-border-width: 1px;
    -fx-hgap: 10px; /* Set the vertical gap between rows */
}
/* Target all text nodes */
.text {
    -fx-font-size: 16px; /* Adjust the font size as needed */
    -fx-text-fill: white; /* Change text color to white */
}

/* Alternatively, you can target specific nodes or classes */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}