.grid-pane {
    -fx-grid-lines-visible: true;
    -fx-border-width: 1px;
    -fx-background-color: white; /* Fill grid background with white */
}
/* Target all text nodes */
.text {
    -fx-font-size: 16px; /* Adjust the font size as needed */
    -fx-text-fill: black; /* Change text color to white */
}

/* Alternatively, you can target specific nodes or classes */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}